.img-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.img-name {
  align-items: center;
  gap: 0.5rem;
  background-color: #285430;
  color: white;
  padding-left: 0.5rem;
  border-radius: 0.6rem;
  width: 20rem;
}

.img-name .isError {
  border-color: red;
}

.img-name input {
  text-align: center;
}
.img-status {
  margin-top: 1rem;
  align-items: center;
  gap: 0.5rem;
  background-color: #285430;
  color: white;
  padding-left: 0.5rem;
  border-radius: 0.6rem;
  width: 20rem;
}
.img-status select {
  text-align: center;
}
.img-result {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.img-result-input {
  border: 0.01rem solid gray;
}
.img-result-input textarea {
  border: none;
}

.img-result-button {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.img-result-button button {
  background-color: #285430;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 8rem;
}

.img-action {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.img-action button {
  background-color: #285430;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  width: 9.5rem;
}
.img-action button:hover {
  background-color: #5f8d4e;
}

.img-pic-list {
  padding: 0.25rem 1rem 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.img-home-img {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-home-img button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: absolute;
  border: none;
  background: none;
  color: gray;
  right: 2rem;
  font-size: 1.5rem;
}
.img-home-img button:hover {
  color: #464646;
}
