.pt-center-nav-button {
  text-align: center;
}
.pt-center-nav-button button {
  padding: 0.5rem;
  width: 50%;
  border: none;
}
.pt-center-nav-button button:hover {
  background-color: gray;
  color: white;
}
.pt-center-nav-button .selected {
  background-color: #5f8d4e;
  color: white;
}
