.lh-page {
  display: flex;
}

.ph-page-container {
  display: flex;
  flex-direction: column;

  margin: 2rem auto;
}

@media only screen and (max-width: 768px) {
  .lh-page {
    flex-direction: column;
  }
}
