.button-back {
  border: none;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;

  background-color: #5f8d4e;
  color: white;

  position: fixed;
  left: 0.625rem;
}

.button-back:hover {
  background-color: #c9c9c9;
}

@media only screen and (max-width: 768px) {
  .button-back {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1rem;
  }
}
