.ph-footer {
  text-align: end;
  margin: 1rem;
  padding: 1rem;
  background-color: #5f8d4e;
  color: white;
  align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  .ph-footer {
    margin-bottom: 9vh;
  }
}
