.exam-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .exam-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30vh;
    /* overflow-y: scroll; */
  }
}
