.lab-box {
  display: flex;
  flex-direction: column;
}

.lab-box > button {
  background-color: #285430;
  border: none;
  color: white;
  font-weight: 600;
}

.lab-box > button:hover {
  background-color: #5f8d4e;
}

.lab-list-empty {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}
