.drug-container {
  display: flex;
  margin-top: 2rem;
}
.drug-container > .drug-center-empty {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .drug-container > .drug-center-empty {
    font-size: 24px;
  }
}
