.fu-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem;
}
.fu-action-ud {
  margin: 0.625rem auto 0;
}
.fu-list {
  margin-top: 0.625rem;
}

.fu-list-empty {
  text-align: center;
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  color: #a7a7a7;
}
@media only screen and (max-width: 768px) {
  .fu-action-ud {
    text-align: center;
  }
}
