.fu-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem;
}
.fu-list {
  margin-top: 0.625rem;
}

.fu-list-empty {
  text-align: center;
  display: block;
  margin: 0.5rem 0 0.5rem 0;
}
