.ph-empty {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
.ph-page-container {
  width: 70%;
  margin: 0 auto;
  min-width: 450px;
}

@media only screen and (max-width: 768px) {
  .ph-page-container {
    min-width: 300px;
    width: 100%;
  }
}
