.allergy-item {
  position: relative;
  background-color: #c9c9c9;
  color: white;
  font-size: 1.3rem;
  margin: 1rem;
  padding: 1rem;
  min-width: 31.25rem;
  max-width: 31.25rem;
}

.allergy-item div {
  overflow: hidden;
}

.allergy-item-action {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.allergy-item-action button {
  border: none;
  background: none;
  color: white;
}

.allergy-item-action button:hover {
  color: red;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .allergy-item {
    padding: 0.5rem;
    width: 90%;
    min-width: 0;
    max-width: 500px;
    margin: 0.5rem auto;
    font-size: 1rem;
  }
}
