.underly-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f4fff3;
}
.underly-item-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}
.underly-item-button:hover {
  background-color: gray;
  color: white;
}
.underly-item-action span:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .underly-item {
    padding: 0.5rem;
    flex-grow: 1;
    width: 50vw;
  }
}
