.tx-box {
  margin-top: 0.625rem;
}

.tx-btn-group {
  width: 9.375rem;
}

.tx-btn-group button {
  flex-grow: 1;
  flex-basis: 0;
  width: 50%;
}

.tx-btn {
  width: 9.375rem;
}

.tx-list-empty {
  text-align: center;
  display: block;
  margin: 0.5rem 0 0.5rem 0;
}
