.tx-box {
  margin-top: 0.625rem;
}

.tx-list-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.tx-btn-group {
  width: 9.375rem;
}

.tx-btn-group button {
  flex-grow: 1;
  flex-basis: 0;
  width: 50%;
}

.tx-btn {
  width: 9.375rem;
}
