.drug-right {
  position: fixed;
  right: 0;
  z-index: 500;
  height: 100%;
  display: flex;

  justify-content: center;
  background-color: #f4fff3;
}
.drug-right button {
  border: none;
  background-color: #5f8d4e;
  color: white;
  padding: 0 0.2rem;
}
.drug-right-sub {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
}
