.modalForm-top {
  margin-top: 0.5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.modalForm-left {
  width: 6rem;
}
.modalForm-right {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.modalForm-bottom {
  text-align: center;
}

.button-addMore {
  border: none;
  color: white;
  background-color: #285430;
  padding: 0.4rem;
  width: 6.7rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.pe-modal-select {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.template-item {
  padding-left: 1rem;
}

.template-item:hover {
  background-color: #285430;
  color: white;
  cursor: pointer;
}

.isSelected {
  background-color: #c9c9c9;
}
