.auth-footer {
  height: 5.25rem;
  background-color: #285430;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .auth-footer {
    height: 4.25rem;
  }
}
