.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  min-width: 400px;
  max-width: 1230px;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }
}
