.login-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  min-width: 25rem;
  max-width: 76.875rem;
  padding: 1.875rem;
}

@media only screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }
}
