.login-action {
  display: flex;
  align-items: center;
  gap: 3.75rem;
  margin: 0.625rem;
}

.login-action b {
  color: #285430;
}
.login-action b:hover {
  color: #5f8d4e;
  cursor: pointer;
}
.login-action button {
  padding: 0.625rem;
  width: 9.375rem;
  height: 4.063rem;
  border-radius: 0.625rem;
  color: white;
  background-color: #285430;
  font-weight: 600;
}
.login-action button:hover {
  background-color: #5f8d4e;
}
