.time-box {
  text-align: center;
  align-items: center;
}

.time-box span {
  display: block;
}
.time-box span:nth-child(1) {
  display: block;
  font-size: 70px;
}
.time-box span:nth-child(1) small {
  font-size: 20px;
}

.table-container {
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .table-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: aliceblue;
  }
}
