.tx-list-item {
  justify-content: space-between;
  display: flex;
  align-items: center;
  border: none;
  font-size: 1rem;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
}

.tx-list-item + .isShow {
  margin: 1rem auto;
}

.tx-list-item .tx-list-button {
  margin: auto;
  border: none;
  background: none;
  display: flex;
  font-size: 0.93rem;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
}

.tx-list-subItem {
  border: none;
  font-size: 1rem;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
}

.detail-tx {
  padding: 0 2rem;
}

.tx-btn {
  font-size: 1rem;
  background-color: #285430;
  padding: 0.25rem;
}
