.typeaccount-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.typeaccount-box div {
  min-width: 18.75rem;
  min-height: 6.25rem;
}

.typeaccount-box input {
  box-shadow: 0.25rem 0.25rem 0.313rem gray;
}

.typeaccount-box select {
  box-shadow: 0.25rem 0.25rem 0.313rem gray;
}

.blind {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .typeaccount-box {
    flex-direction: column;
  }
  .blind {
    display: none;
  }
}
