.ph-nav-item {
  padding: 1rem;
  background-color: #5f8d4e;
  color: white;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.ph-nav-item:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.ph-nav-selected {
  background-color: #c9c9c9;
}

.ph-navBar {
  height: 80vh;
  overflow-y: scroll;
  position: fixed;
  left: 0;
}

.ph-navBar-container {
  margin-right: 10rem;
}
@media only screen and (max-width: 768px) {
  .ph-navBar-container {
    margin-right: 0;
    margin-top: 0.8rem;
    width: 100%;
  }
  .ph-navBar {
    display: flex;
    height: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    bottom: 5vh;
    width: 100%;
  }

  .ph-navBar-defualt {
    top: 6.1vh;
  }

  .ph-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
