.ph-nav-item {
  padding: 1rem;
  background-color: #5f8d4e;
  color: white;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.ph-nav-item:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}

.ph-nav-selected {
  background-color: #c9c9c9;
}

.ph-navBar {
  border-right: solid 1px black;

  height: 100vh;
}
