.register-action {
  display: flex;
  margin: 0.625rem auto;
  min-width: 25rem;
  max-width: 50rem;
  justify-content: space-around;
}

.registeraction-button {
  width: 9.375rem;
  height: 4.063rem;
  border-radius: 0.625rem;
  color: white;
  background-color: #285430;
  font-weight: 600;
  margin-top: 0.7rem;
  border: none;
}

.registeraction-button:hover {
  background-color: #5f8d4e;
}

@media only screen and (max-width: 768px) {
  .register-action {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 5rem;
  }
  .registeraction-button {
    min-width: 18.75rem;
  }
}
