.register-action {
  display: flex;
  margin: 10px auto;
  min-width: 400px;
  max-width: 800px;
  justify-content: space-around;
}

.registeraction-button {
  width: 150px;
  height: 65px;
  border-radius: 10px;
  color: white;
  background-color: #285430;
  font-weight: 600;
  margin-top: 30px;
}

.registeraction-button:hover {
  background-color: #5f8d4e;
}

@media only screen and (max-width: 768px) {
  .register-action {
    flex-direction: column-reverse;

    align-items: center;
    padding-bottom: 80px;
  }
  .registeraction-button {
    min-width: 300px;
  }
}
