.home-header {
  height: 4.25rem;
  background-color: #285430;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.header-user {
  position: fixed;
  right: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.938rem;
}
.user-tag {
  color: white;
  font-size: 0.938rem;
  display: flex;
  text-align: end;
  flex-direction: column;
}

.home-container {
  margin-top: 4.25rem;
}
.home-dropdown {
  position: fixed;
  top: 4rem;
  right: 10.25rem;
}

@media only screen and (max-width: 768px) {
  .home-header {
    height: 3.25rem;
  }
  .home-dropdown {
    top: 3.1rem;
  }
  .user-tag {
    font-size: 0.75rem;
  }
  .header-user .user-tag {
    font-size: 0.65rem;
  }
}
