.diag-box {
  display: flex;
  flex-direction: column;
}

.diag-box input {
  font-size: 1rem;
  text-align: center;
}
.diag-input {
  margin: 0;
}

.diag-list {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.diag-list-empty {
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
}
