.finish-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  color: white;
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  .finish-header {
    padding: 0.5rem;
  }
}
