.ud-body-container {
  margin: auto;
}

.ud-body-header {
  padding: 1rem;
  background-color: gray;
  color: white;
  margin: 1rem;
}

.ud-body-center {
  display: flex;
  gap: 1rem;
}

.ud-body-table {
  border: 0.125rem solid forestgreen;
  width: 50rem;
  height: 12.5rem;
}

.ud-body-table th {
  text-align: center;
  border-bottom: 1px solid black;
}

.ud-body-table td {
  text-align: center;
}

.ud-body-footer {
  margin-top: 2rem;
  display: flex;
}

.table-selectCase {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .ud-body-header {
    width: fit-content;
  }
  .ud-body-container {
    margin: 2.5rem 0;
  }
  .ud-body-table {
    width: 100%;
  }
  .ud-body-center {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
